* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    width: 100vw;
}

#imgbox {
    border: 1px solid red;
    width: 55%;
    background: #0000FF;
    float: left;
    height: 100%;
    text-align: center;
}

#loginbox {
    border: 1px solid blue;
    width: 40%;
    float: left;
    margin-left: 20px;
    height: 100%;
}

#svg {
    margin-top: 35%;
}

#svg img {
    border-radius: 15px;
    margin-top: 30px;
}

#text-img {
    color: #F0FFFF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
    font-size: 0.9em;
}

h1 {
    margin: 0;
    color: #F0FFFF;
}